*.iml
.gradle
gradle.properties
/local.properties
/.idea/**
/app/schemas/**/**
.DS_Store
**/build/**
/captures
**/**/*.apk
/app/production
/app/debug
/app/google-services.json
/fastlane/report.xml
/firebase_app_distribution
/.idea/deploymentTargetDropDown.xml
/bundletool_temp/bundletool.jar
/app/jacoco.exec
